body {
    width: 100vw;
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 195, 67);
    font-family: 'Poppins', sans-serif;
    color: rgb(12, 22, 158);
}

#thumbnail {
    display: none;
}

nav {
    top: 50%;
    left: -45vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vh;
    justify-content: space-evenly;
    transform: rotate(-90deg);
}

#ticket:hover {
    width: 16vw;
    left: 82.5vw;
    top: 3.5vh;
    transform: rotate(5deg);
    transition: 0.5s;
}

#ticket {
    position: fixed;
    width: 15vw;
    top: 4vh;
    left: 90vw;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: rgb(12, 22, 158);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    
}

nav a:hover {
    color: rgb(255, 255, 255);
}

#top {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sdfLogo {
    width: 50vw;
    margin-top: 10vh;
    margin-left: 10vw;
}

#locBox {
    top: 25vh;
    left:80vw;
    width: 20vw;
    height:10vw;
    position: absolute;
    float: right;
    background-color: rgb(12, 22, 158);
}

h3 {
    font-size: 1.5vw;
    padding: 1vw;
    color: rgb(255, 195, 67);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

#line {
    width: 90vw;
    padding: 5vw;
}

main {
    display: flex;
    flex-direction: column;
}

.title {

    color: rgb(12, 22, 158);
    font-size: 4vw; 
    font-style: italic;
    font-weight: 400;
    padding-left: 15vw;
    margin: 10vh;
}

.day {
    display: flex;
    flex-direction: column;
}

.hour {
    /* height: 40vh; */
    display: flex;
    flex-direction: row;
}

.hour h4 {
    width: 20vw;
    padding-left: 10vw;
    
    margin: 0;
    font-size: 2vw;
}

.cont {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-left: 5vw;
    margin: 0;
    font-size: 1.5vw;

}

.cont h5{
    margin: 0;
    font-size: 1.5vw;
}

.cont h5 a {
    text-decoration: none;
    color: rgb(12, 22, 158);
}

.cont h5 a:hover {
    text-decoration: none;
    color: white;
}

.cont p{
    padding-right: 5%;
    
}

.movBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5% 0 5% 0;
}

.grid {
    /* width: 100%; */
    align-items: center;
    margin: 10% 3% 10% 0;
    display: grid; 
    grid-template-areas: "a b c d";
}

.grid p {
    margin: 0 1vw 1vw 0;
}

.grid a {
    margin: 0 1vw 1vw 0;
}

p a {
    color: rgb(12, 22, 158);
    text-decoration:  none;
    transition: all 0.2s linear;
}

p a:hover {
    color: white;
}

.filmTit {
    font-style: italic;
    transition: all 0.2s linear;
}

.filmTit:hover {
    color: white;
    cursor: pointer;

}

.filmArt {
    font-weight: 700;
}

.sub{
    line-height: 200%;
}

.titSub {
    width: 30%;
    font-style: italic;
}

.artSub {
    width: 50%;
    font-weight: 700;
}

.couSub {
    width: 10%;
    font-style: italic;
}

.timSub {
    width: 10%;
    font-weight: 700;
}

.center {
    text-align: center;
    font-style: italic;
}

footer {
    font-size: 1.5vw;
    padding-left: 5%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(12, 22, 158);
}



/* Modal window with word information */
#modal {
    position: fixed;
    top: 20vh;
    left: 21vw;
    width: 50vw;
    height: 50vh;
    padding: 4vw;
    display: none;
    background-color: rgb(12, 22, 158);
    color:rgb(255, 195, 67);
    align-self: center;
    opacity:0;
    border-radius: 15px;
    overflow: scroll;
    z-index: 2;
}

#modal::-webkit-scrollbar {
    display: none;
}

/* Text inside modal */
#modText {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#modtext h1{
    font-size: 2vw;
}

#modText ul {
    list-style-type: none;
    padding: 0;
}

#modText ul li {
    padding-top: 5%;
    font-size: 1.5vw;
}

/* Shadow to darken rest of page while modal is open */
#shadow {
    display:none;
    opacity: 0;
    width:100vw;
    height:100%;
    position: fixed;
    background-color: #0000006c;
    z-index: 1;
}

.close {
    top: 2vh;
    right: 4vh;
    position: absolute;
    font-size: 2vw;
    transition: all 0.2s linear;
}

.close:hover {
    cursor: pointer;
    color: white;
}



/* MEDIA QUERYS */

/* Tablet */
@media screen and (max-width: 800px) {
    #top {
        height: 50vh;
    }
    nav {
        transform: rotate(0);
        left:0;
        top:0;
        width: 100vw;
        padding: 2% 0 2% 0;
        background-color: rgba(255, 195, 67, 0.7);
        flex-direction: row-reverse;
    }

    .hour h4 {
        padding-left: 5vw;
    }

    #sdfLogo {
        width: 65vw;
    }

    #locBox {
        top: 30vh;
    }

    #ticket {
        top: 10vh;
        left: 87vw;
        width: 20vw;
    }

    #ticket:hover {
        width: 21vw;
        top: 9.5vh;
        left: 76.5vw;
    }

    main .day .hour h4 {
        font-size: 2.5vw;
    }

    .cont {
        font-size: 2vw;
    }

    .cont h5 {
        font-size: 2vw;
    }

    .title {
        font-size: 5vw;
        padding-left: 0;
    }

    .close {
        top: 0vh;
        right: 1vh;
    }
}

/* Phone */
@media screen and (max-width: 500px) {

    #sdfLogo {
        width: 72vw;
    }

    main .day .hour h4 {
        font-size: 3vw;
    }

    .cont {
        font-size: 2.5vw;
    }

    .cont h5 {
        font-size: 2.5vw;
    }

    .title {
        font-size: 6vw;
        padding-left: 0;
    }

    nav {
        padding: 4% 0 4% 0;
    }

    nav a {
        font-size: 2.5vw;
    }

    #ticket {
        top: 10vh;
        left: 87vw;
        width: 20vw;
    }

    #ticket:hover {
        width: 21vw;
        top: 9.5vh;
        left: 76.5vw;
    }

    #locBox {
        top: 25vh;
    }

    footer {
        font-size: 4vw;
    }

    #modal {
        top: 12vh;
        left: 6vw;
        width: 80vw;
        height: 60vh;
        overflow: scroll;

    }

    #modText h1 {
        font-size: 1.5em;
    }

    #modText ul li {
        font-size: 0.75em;
    }

    .close {
        right: 2vh;
    }

}

/* 4K and weird non 4k wide-screen*/
@media screen and (min-width: 2000px) {

    #modText h1 {
        font-size: 2vw;
    }

    #modText ul li {
        font-size: 1.5vw;
    }
    .close {
        font-size: 2vw;
    }
    
}